.search_bar {
  flex: 1 auto;
  position: relative;
  .search_bar_icon {
    display: block;
    position: absolute;
    top: 0;
    width: 3.75rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: center;
  }
  .search_bar_input {
    height: 3rem;
    max-width: 31.25rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 1rem;
    outline: none;
    background-color: var(--white-smoke);
    color: var(--grey-color);
    border: none;
    padding: 0 3.75rem;
  }
}
